/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url('../fonts/Mrs-Eaves/MRSEA~12.ttf'); 
}

@font-face {
	src: url('../fonts/Mrs-Eaves/MrsEavesRoman.ttf');
}

@font-face {
    src: url('../fonts/Mrs-Eaves/MrsEavesItalic.ttf'); 
}

@font-face {
    src: url('../fonts/Mrs-Eaves/MrsEaves-Bold.ttf'); 
}

@font-face {
    src: url('../fonts/Bookmania/Bookmania_SemiBold.otf'); 
}


.MenuBtn {
	-fx-font-size: 17.0;
	-fx-font-family: 'MrsEavesSmartLig-Bold';
	-fx-background-color: none;
	-fx-text-fill: white;
}

/* ------------ Campaign Loader ID ------------ */

#CampaignLoaderWrapper {
	-fx-background-image:url(../../assets/CampaignLoader/background.png);
}

#MenuPanel {
	-fx-background-image:url(../../assets/CampaignLoader/menuwithdropshadow.png);
	-fx-background-repeat: no-repeat;
}

#DescriptionTextArea {
  -fx-background-image: none;
  -fx-background-color: none;
  -fx-background-repeat: no-repeat;
  -fx-background: transparent;


}

.text-area .content {
    -fx-background-color: none;
}

.root 
{ 
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
/*.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
} */

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size:25.0;
}

.list-view .list-cell:even {
	-fx-background-color: darkgray;
	-fx-font-size:15.0;
}
.list-view .list-cell:odd {
	-fx-background-color: darkgray;
	-fx-font-size:15.0;
}

.list-view {
	-fx-selection-bar:green ;
}

#PlayerListView {
	-fx-background-color: none;
}

#TitleText {
	-fx-font-size: 25;
	-fx-font-family: 'MrsEavesRoman';
	-fx-text-fill: #981d1d;
}

#CampaignDescriptionPane {
	-fx-background: transparent;
	-fx-background-color: none;
	-fx-background-insets: 0;
}

#TitleTest{
	-fx-font-size: 25.0;
	-fx-font-family: 'MrsEavesRoman';
	-fx-text-fill: #981d1d;
}

#TitleTest2{
	-fx-font-size: 25.0;
	-fx-font-family: 'MrsEavesSmartLig-Bold';
	-fx-text-fill: #981d1d;
}

#TitleTest3{
	-fx-font-size: 25.0;
	-fx-font-family: 'MrsEavesSmartLigRoman';
	-fx-text-fill: #981d1d;
}

/* ------------ Battle Map ID ------------ */


#BattlemapWrapper {
	-fx-background-color: #303030;
}

#GridView {
	-fx-alignment: CENTER;
}

#MenuPane{
	-fx-background-image:url(../../assets/battlemap/ui/rightPane.png);
}

#AdventurersTab {
	-fx-background-color: none;
	-fx-background-image:url(../../assets/battlemap/ui/adventurers.png);	
}

#AddAdventurerBtn {
	-fx-font-size: 14.0;
	-fx-font-family: 'Bookmania-SemiBold';
	-fx-background-color: none;
	-fx-text-fill:white;
}

#AddAdventurerBtn:hover {
	-fx-font-size: 14.0;
	-fx-font-family: 'Bookmania-SemiBold';
	-fx-background-color: none;
	-fx-text-fill:#e0dbd5;
}

#AdventurersTab:hover {
	-fx-background-color: none;
	-fx-background-image:url(../../assets/battlemap/ui/adventurersh.png);	
}

#AdventurersTab:selected {
	-fx-background-image:url(../../assets/battlemap/ui/adventurersh.png), url(../../assets/battlemap/ui/tabSelected2.png) ;
	-fx-background-color: none;	
}

#SettingsTab {
	-fx-background-color: none;
	-fx-background-image:url(../../assets/battlemap/ui/settings2.png);	
}

#SettingsTab:hover {
	-fx-background-color: none;
	-fx-background-image:url(../../assets/battlemap/ui/settings2h.png);
}

#SettingsTab:selected {
	-fx-background-image:url(../../assets/battlemap/ui/settings2h.png), url(../../assets/battlemap/ui/tabSelected2.png) ;
	-fx-background-color: none;	
}

#SettingsTab pane {
	-fx-background-image:url(../../assets/battlemap/ui/adventurersh.png);	
}

#SettingsMenu Button {
	-fx-font-size: 17.0;
	-fx-text-fill: white;
	-fx-font-family: 'Bookmania-SemiBold';
	-fx-background-color:none;

}

#SettingsMenu Button:hover {
	-fx-text-fill:#e0dbd5;
	-fx-background-color:#3b0707;
	-fx-cursor: hand;
}

#RollResultsLabel {
	-fx-font-size: 12.0;
	-fx-text-fill: white;
	-fx-font-family: 'Bookmania-SemiBold';
}

#RollResultValueLabel {
	-fx-font-size: 13.0;
	-fx-text-fill: white;
	-fx-font-family: 'Bookmania-SemiBold';
}

#CameraBtn {
	-fx-background-image:url(../../assets/battlemap/ui/camera.png)
}

#UpdateBtn {
	-fx-background-image:url(../../assets/battlemap/ui/updatemap.png)
}

#UpdateBtn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/updatemaph.png)
}

#CameraBtn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/camerah.png)
}

#HelpBtn {
	-fx-background-image:url(../../assets/battlemap/ui/helpbtn.png)
}

#HelpBtn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/helpbtnh.png)
}

#d4Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d4.png)	
}

#d4Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d4h.png)	
}

#d6Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d6.png)	
}

#d6Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d6h.png)	
}

#d8Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d8.png)	
}

#d8Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d8h.png)	
}

#d10Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d10.png)	
}

#d10Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d10h.png)	
}

#d12Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d12.png)	
}

#d12Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d12h.png)	
}

#d20Btn {
	-fx-background-image:url(../../assets/battlemap/ui/d20.png)	
}

#d20Btn:hover {
	-fx-background-image:url(../../assets/battlemap/ui/d20h.png)	
}

#menuTitleLabel {
	-fx-font-size: 20.0;
	-fx-font-family: 'MrsEaves-Bold';
	-fx-text-fill: #FFFFFF;
}

#CameraPane {
	-fx-background-color: #3b0707;
}

#HelpPane {
	-fx-background-color: #3b0707;
}

#HelpHeader {
	-fx-font-size: 20.0;
	-fx-font-family: 'MrsEaves-Bold';
	-fx-text-fill:white;
}

.helpText {
	-fx-text-fill:white;
}

.helpSubText {
	-fx-text-fill:#B2B2B2;
}

#AdventurersListView {
	-fx-background-color: none;
}

#AdventurersListView  .list-cell {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size:15.0;
	-fx-text-fill: white;
	-fx-font-family: 'Bookmania-SemiBold';
}

#AdventurersListView  .list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-font-size:16.0;
	-fx-background-color: #3b0707;
}

#AdventurersListView  .list-cell:even { /* <=== changed to even */
	-fx-text-fill: white;
}
#AdventurersListView .list-cell:inactive {
    -fx-text-fill: red ;
}

#menuTabPane {
	-fx-effect: null;
	fx-background: none;
	-fx-background-color:none;
}

#guideLabel1 {
	 -fx-font-size:25.0;
	 -fx-text-fill: white;
	 -fx-font-family: 'MrsEaves-Bold';
}

#guideLabel2 {
	 -fx-font-size: 22.0;
	 -fx-text-fill: #adadad;
	 -fx-font-family: 'MrsEaves-Bold';
}

#menuTabPane .tab-header-background { 
	-fx-background-color: none;
}

.MenuLabel {
	-fx-text-fill: white;
	
}

/* ------------------------------- Player list ----------------------------------------- */

.CellBody {
	-fx-background-color:none;	
}

#AdventurerLabel{
	-fx-text-fill: white;
}



#chooseClassCoboBox {
	-fx-text-fill: white;
	-fx-font-size:15.0;
	-fx-prompt-text-fill: blue;
}

.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;;
}

.combo-box .list-cell:filled:selected:focused, .list-cell:filled:selected 
{
	-fx-font-size:12.0;
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}
