/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url('../../assets/Fonts/Mrs-Eaves/MrsEaves-Bold.TTF'); 
}

@font-face {
    src: url('../../assets/Fonts/Mrs-Eaves/MrsEavesPetiteCaps.TTF'); 
}

@font-face {
    src: url('../../assets/Fonts/Bookmania/Bookmania_Regular.otf'); 
}


.MenuBtn {
	-fx-font-size: 17.0;
	-fx-font-family: 'MrsEaves-Bold';
	-fx-background-color: none;
	-fx-text-fill: white;
}

.MenuBtn:hover {
	-fx-text-fill: #d6d6d6;
}

#CampaignLoaderWrapper {
	-fx-background-image:url(../../assets/CampaignLoader/background.png);
}

#MenuPanel {
	-fx-background-image:url(../../assets/CampaignLoader/menuwithdropshadow.png);
	-fx-background-repeat: no-repeat;
}

#DescriptionTextArea {
  -fx-background-image: none;
  -fx-background-color: none;
  -fx-background-repeat: no-repeat;
  -fx-background: transparent;
}

.text-area .content {
    -fx-background-color: none;
}

.root 
{ 
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
/*.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
} */

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size:25.0;
}

.list-view .list-cell:even {
	-fx-background-color: darkgray;
	-fx-font-size:15.0;
}
.list-view .list-cell:odd {
	-fx-background-color: darkgray;
	-fx-font-size:15.0;
}

.list-view {
	-fx-selection-bar:green ;
}

.SubHeadline {
	-fx-font-size: 20;
	-fx-font-family:MrsEavesPetiteCaps;
}

.MenuButton {
	-fx-font-family: 'MrsEaves-Bold';
}

#PlayerListView {
	-fx-background-color: none;
}

#CampaignTitleText {
	-fx-font-size: 35;
	-fx-font-family: 'MrsEaves-Bold';
}

#CampaignDescriptionPane {
	-fx-background: transparent;
	-fx-background-color: none;
	-fx-background-insets: 0;
}

#LoadCampaignBtn {
	-fx-background:none;
}

#EditDescriptionBtn:hover {
	-fx-opacity: 0.5;
}

#DescriptionTextArea {
	-fx-font-family: 'Bookmania_Regular';
}